<!DOCTYPE HTML>
<html ng-app="myQuiz">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Test Your Knowledge: Saturn</title>
		<link rel="stylesheet" type="text/css" href="css/quiz.css">
	</head>
	<body>
		<div id="myQuiz" ng-controller="QuizController">
			<h1>Test your knowledge: <span>Saturn</span> </h1>
			<div class="progress">
				<div class="{{ ($index === activeQuestion) ? 'on' : 'off' }}" ng-repeat="myQuestion in myQuestions"></div>
			</div>
			<div class="intro {{ (activeQuestion > -1) ? 'inactive' : 'active' }}">
				<h2>Welcome</h2>
				<p>Click 'Begin' to test your knowledge on Saturn</p>
				<p class="btn" ng-click="activeQuestion=1">Begin</p>
			</div>
			<div class="question
				{{ $index === activeQuestion ? 'active' : 'inactive' }}
				{{ myQuestion.questionState === 'answered' ? 'answered' : 'unanswered' }}"
				ng-repeat="myQuestion in myQuestions">
				<p class="txt">{{ myQuestion.question }} {{ myQuestion.selectedAnswer }}</p>
				<p class="ans"
					ng-class=" {
						image: Answer.image,
						selected: isSelected($parent.$index, $index),
						correct: isCorrect($parent.$index, $index) } "
					ng-style="{ 'background-image': 'url({{Answer.image}})'}"
					ng-click="selectAnswer($parent.$index, $index)"
					ng-repeat="Answer in myQuestions[$index].answers">
					{{ Answer.text }}</p>
				<div class="feedback">
					<p>You are <strong>correct.</strong> </p>
					<p>Oops! That is not correct. </p>
					<p>Additional feedback</p>
					<div class="btn"> Continue </div>
				</div>
			</div>
			<div class="results">
				<h3>Results</h3>
				<p>You scored X% by correctly answering a total of X questions.</p>
				<p>Use the links below to challenge your friends.</p>
				<div class="share">
					<a class="btn email" href="#">Email</a>
					<a class="btn twitter" href="#">Tweet</a>
				</div>
			</div>
		</div>
		<script src="js/angular.min.js"></script>
		<script src="js/quiz.js"></script>
	</body>
</html>
